<aside class="sidebar">
  <h2 class="logo w-100">
    <span>LO</span>GO
  </h2>
  <nav>
    <ul class="menu list-unstyled">
      <li class="active"><a routerLink=""><i class="bi bi-house-fill"></i>ㅤDashboard</a></li>
      <li><a routerLink="registration"><i class="bi bi-file-earmark-plus"></i>ㅤFayllarin Qeydiyyati</a>
      </li>
      <li>
        <a routerLink="appointment"><i class="bi bi-file-earmark-text"></i>ㅤFayl teyinati</a>
      </li>
      <li><a routerLink="status"><i class="bi bi-file-ruled"></i>ㅤFayl statusu</a></li>
      <li><a routerLink="fees"><i class="bi bi-currency-dollar"></i>ㅤXercler</a></li>
    </ul>
  </nav>
</aside>
