<div class="modalBg">

  <div class="addModal appointModal">
    <header class="d-flex justify-content-between align-items-center">
      <h6 class="m-0 p-0">Teyin et</h6>
      <button class="btn p-0 m-0 btnClose"><i class="bi bi-x-lg closeIcon"></i>
      </button>
    </header>
    <form class="parent">
      <div class="div1 form-group">
        <label for="employee">Isci</label>
        <input type="text" class="form-control" id="employeeInput" placeholder="Isci adini daxil edin">
      </div>
      <div class="div2">
        <label for="task">Tapsiriq</label>
        <textarea name="task" class="form-control" id="taskInput" placeholder="Tapsirigi tesvir edin"></textarea>
      </div>
      <div class="div3">
        <button class="btn m-0 btn-secondary btnCancel">Imtina et</button>
      </div>
      <div class="div4">
        <button class="btn m-0 btn-primary btnAdd">Tesdiqle</button>
      </div>
    </form>
  </div>
</div>
