<div class="modalBg">

  <div class="addModal appointModal addFeeModal">
    <header class="d-flex justify-content-between align-items-center">
      <h6 class="m-0 p-0">Yeni</h6>
      <button class="btn p-0 m-0 btnClose"><i class="bi bi-x-lg closeIcon"></i>
      </button>
    </header>
    <form class="parent">
      <div class="div1">
        <label for="fileNo">File №</label>
        <input type="text" class="form-control" id="faylNoInput" placeholder="Faylin nomresini daxil edin">
      </div>
      <div class="div2">
        <label for="fileNo">File №</label>
        <input type="text" class="form-control" id="faylNoInput" placeholder="Faylin nomresini daxil edin">
      </div>
      <div class="div3">
        <label for="skan">Skan</label>
        <input type="file" class="form-control" id="skanInput">
      </div>
      <div class="div4">
        <button class="btn m-0 btn-secondary btnCancel">Imtina et</button>
      </div>
      <div class="div5">
        <button class="btn m-0 btn-primary btnAdd">Tesdiqle</button>
      </div>
    </form>
  </div>
</div>
